[color]
	diff = auto
[diff]
    tool = vimdiff
[alias]
	incoming = "!git remote update -p; git log ..@{u}"
	outgoing = log @{u}..
[user]
	name = James Rutherford
	email = jim@jimr.org
[core]
	excludesfile = /Users/jim/.gitignore_global
